# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Saved models
*.pth
*.pt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/